{% extends 'workshop_app/base.html' %}

{% block title %}
    Awaiting activation
{% endblock %}


{% block content %}
    {% if status == '2' %}
        
        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
            <h2 class="fw-bold mb-4 mx-1 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Verified !
            </h2>
            <p class="text-sm mb-1" style="color: #9ca3af;">
				Your email is already verified.
				<a href="{% url 'workshop_app:index' %}" style="color: #34d399; text-decoration: none;">
					click here
				</a>
            </p>
        </div>

    {% elif status == '1' %}
        <script type="text/javascript">
            window.setTimeout(function () {
                location.href = "{% url 'workshop_app:register' %}"
            }, 10000);
        </script>

        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
            <h2 class="fw-bold mb-4 mx-1 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Activation Expired
            </h2>
            <p class="text-sm mb-1" style="color: #9ca3af;">
				Your link has expired.
				<a style="color: #34d399; text-decoration: none;">
					register again
				</a>
            </p>
        </div>

    {% elif status == '0' %}
        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
            <h2 class="fw-bold mb-4 mx-1 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Verified !
            </h2>
            <p class="text-sm mb-1" style="color: #9ca3af;">
				Your email is already verified.
				<a href="{% url 'workshop_app:index' %}" style="color: #34d399; text-decoration: none;">
					click here
				</a>
            </p>
        </div>

    {% else %}
        <script type="text/javascript">
            window.setTimeout(function () {
                location.href = "{% url 'workshop_app:logout' %}"
            }, 10000);
        </script>

        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
            <h2 class="fw-bold mb-4 mx-1 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Activation Awaiting !!!
            </h2>
            <p class="text-sm mb-1" style="color: #9ca3af;">
				The Activation Link has been sent to your email. The link expires in <strong>24hours</strong> from the date of registration. You will be logged out automatically
            </p>
        </div>
        
    {% endif %}
    
{% endblock %}
