{% extends "workshop_app/base.html" %}

{% block title %}
    My Workshops
{% endblock %}

{% block extra-custom-scripts %}
<style >
    .main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
}
</style>
{% endblock %}

{% block content %}
    {% if not workshops %}

        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
            <h2 class="fw-bold mb-4 mx-1 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Welcome {{ user.first_name }}
            </h2>
            <p class="text-center" style="color: #d1d5db">
                Information Related to your workshops will be shown here, you can also
                propose a Workshop as per your available date in <strong>Propose Workshop tab</strong>.
            </p>
        </div>
    
    {% else %}
        <!--<h1 class="text-center">Workshop Status </h1>
        <br> -->

        <!-- Accepted View -->
         

        <div class="container my-5">
            <h2 class="fw-bold mb-4 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Workshops Accepted
            </h2>
            <div class="shadow-lg rounded-4 overflow-hidden mx-auto"
                style="max-width: 900px; background-color: #1f2937;">
                <div style="overflow-x: auto;">
                <table style="min-width: 600px; width:100%; color: #d1d5db; border-collapse: separate; border-spacing: 0;">
                    <thead style="background-color: #374151;">
                        <tr>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Instructor Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Day</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workshop in workshops %}
                            {% if workshop.status %}
                            <tr class="bg-opacity-50 shadow-lg overflow-hidden"
                                style="
                                    background-color: rgba(31, 41, 55, 0.5);
                                    backdrop-filter: blur(12px);
                                    border-radius: 1rem;
                                    transition: background 0.2s;
                                    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
                                    overflow: hidden;
                                ">
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:workshop_details' workshop.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.workshop_type }}
                                    </a>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.instructor.get_full_name }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.date|date }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    {% if workshop.get_status == "Pending" %}
                                        <span style="color: #fbbf24;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Accepted" %}
                                        <span style="color: #0be7f3ff;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Rejected" %}
                                        <span style="color: #ef4444;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% else %}
                                        <span style="color: #d1d5db">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <!-- Proposed View -->

        <div class="container my-5">
            <h2 class="fw-bold mb-4 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Workshops Proposed by Me
            </h2>
            <div class="shadow-lg rounded-4 overflow-hidden mx-auto" style="max-width: 900px; background-color: #1f2937;">
                <div style="overflow-x: auto;">
                <table style="min-width: 600px; width:100%; color: #d1d5db; border-collapse: separate; border-spacing: 0;">
                    <thead style="background-color: #374151;">
                        <tr>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Day</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workshop in workshops %}
                            {% if not workshop.status and workshop.tnc_accepted %}
                            <tr class="bg-opacity-50 shadow-lg overflow-hidden"
                                style="
                                    background-color: rgba(31, 41, 55, 0.5);
                                    backdrop-filter: blur(12px);
                                    border-radius: 1rem;
                                    transition: background 0.2s;
                                    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
                                    overflow: hidden;
                                ">
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:workshop_details' workshop.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.workshop_type }}
                                    </a>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.date|date }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    {% if workshop.get_status == "Pending" %}
                                        <span style="color: #fbbf24;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Accepted" %}
                                        <span style="color: #0be7f3ff;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Rejected" %}
                                        <span style="color: #ef4444;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% else %}
                                        <span style="color: #d1d5db">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
    {% endif %}

{% endblock %}
