{% extends "workshop_app/base.html" %}
{% load static %}

{% block title %}
    Workshop Status
{% endblock %}

{% block extra-dependencies %}
    <link rel="stylesheet" href="{% static 'workshop_app/css/jquery-ui.css' %}" type="text/css"/>
    <script src="{% static 'workshop_app/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'workshop_app/js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block extra-custom-scripts %}
    <script src="{% static 'workshop_app/js/datepicker.js' %}"></script>
    <style>
        .table-heading {
            color: #04a9cf;
        }

         .main-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         }
        
    </style>
{% endblock %}

{% block content %}
    {% if not workshops %}
        <div class="main-cont" style="height: 100%;">
            <h2 class="fw-bold mb-4 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Welcome {{ user.first_name }}
            </h2>
            <p class="text-center" style="color: #d1d5db">
                Your workshop related information will be shown here.<br>
                Please navigate to <strong>Workshop list</strong> and, depending upon your expertise and availability, create a workshop by going to <strong>Create Workshop</strong>.
            </p>
        </div>
    {% else %}

        <div class="container my-5">
            <h2 class="fw-bold mb-4 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Workshops Accepted
            </h2>
            <div class="shadow-lg rounded-4 overflow-hidden mx-auto" style="max-width: 900px; background-color: #1f2937;">
                <div style="overflow-x: auto;">
                <table style="min-width: 600px; width:100%; color: #d1d5db; border-collapse: separate; border-spacing: 0;">
                    <thead style="background-color: #374151;">
                        <tr>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Coordinator Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Institute</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Workshop Day</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider" style="color: #d1d5db;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workshop in workshops %}
                            {% if workshop.status %}
                            <tr class="bg-opacity-50 shadow-lg overflow-hidden"
                                style="
                                    background-color: rgba(31, 41, 55, 0.5);
                                    backdrop-filter: blur(12px);
                                    border-radius: 1rem;
                                    transition: background 0.2s;
                                    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
                                    overflow: hidden;
                                ">
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:view_profile' workshop.coordinator.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.coordinator.get_full_name }}
                                    </a>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.coordinator.profile.institute }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:workshop_details' workshop.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.workshop_type }}
                                    </a>
                                   
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.date|date }}</span>
                                    {% if workshop.date > today %}
                                        <span class="material-icons datepicker btn"
                                              data-toggle="popinfo"
                                              title="Click here to change date"
                                              
                                              onclick="changeDate('R,{{ workshop.date|safe }}, {{ forloop.counter }}')"
                                              style = "color: #d1d5db;">
                                              event
                                            </span>
                                        <div class="myDialogR{{ forloop.counter }}" style="display: none;"
                                             title="Select New Date">
                                            <form method="post" action="{% url 'workshop_app:change_workshop_date' workshop.id %}">
                                                <input type="text" placeholder="New date" name="new_date"
                                                       class="rDate{{ forloop.counter }}"/><br>
                                                {% csrf_token %}
                                                <button class="btn btn-primary btn-xs" type="submit">Save</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if workshop.get_status == "Pending" %}
                                        <span style="color: #fbbf24;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Accepted" %}
                                        <span style="color: #0be7f3ff;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Rejected" %}
                                        <span style="color: #ef4444;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% else %}
                                        <span style="color: #d1d5db">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="container my-5">

            <h2 class="fw-bold mb-4 text-center"
                style="font-size: 2rem; background: linear-gradient(to right, #34d399, #059669); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                Workshops Proposed 
            </h2>
            <div class="shadow-lg rounded-4 overflow-hidden mx-auto" style="max-width: 950px; background-color: #1f2937;">
                <div style="overflow-x: auto;">
                <table style=" min-width: 600px; width:100%; color: #d1d5db; border-collapse: separate; border-spacing: 0;">
                    <thead style="background-color: #374151;">
                        <tr>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Coordinator Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Institute</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Workshop Name</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Workshop Day</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Status</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-300 text-uppercase tracking-wider">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for workshop in workshops %}
                            {% if not workshop.status and workshop.tnc_accepted %}
                            <tr class="bg-opacity-50 shadow-lg overflow-hidden"
                                style="
                                    background-color: rgba(31, 41, 55, 0.5);
                                    backdrop-filter: blur(12px);
                                    border-radius: 1rem;
                                    transition: background 0.2s;
                                    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
                                    overflow: hidden;
                                ">
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:view_profile' workshop.coordinator.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.coordinator.get_full_name }}
                                    </a>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.coordinator.profile.institute }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:workshop_details' workshop.id %}" style="color:  #d1d5db;; font-weight: 500; border: 1px solid #34d399; padding: 2px 6px; border-radius: 10px;">
                                        {{ workshop.workshop_type }}
                                    </a>
                                   
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <span style="color: #d1d5db;">{{ workshop.date|date }}</span>
                                </td>
                                <td class="px-4 py-3 align-middle">

                                    {% if workshop.get_status == "Pending" %}
                                        <span style="color: #fbbf24;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Accepted" %}
                                        <span style="color: #0be7f3ff;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% elif workshop.get_status == "Rejected" %}
                                        <span style="color: #ef4444;">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% else %}
                                        <span style="color: #d1d5db">
                                            {{ workshop.get_status }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="px-4 py-3 align-middle">
                                    <a href="{% url 'workshop_app:accept_workshop' workshop.id %}" class="btn btn-primary btn-sm"
                                       onclick="return confirm('Once accepted you cannot reject, you have to personally contact the Coordinator if the workshop is to be cancelled. Are you sure you want to accept the workshop?')">
                                        Accept
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}