/**
 * Footer Styles
 */

 .background-gradient{
    min-height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #08140b 0%, #10521b 33%, #0e7f29 75%, #05ad2c 100%);
}
.navbar {
    z-index: 1000;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    color: white;
    text-align: center;
    z-index: 100;
}

.base-content {
    padding-top: 5em;
    padding-bottom: 5em;
    min-height: 100vh; /* allows content to grow and page to scroll */
    height: auto;
    
    
    
}

html, body {
    height: 100vh;
    width: 100vw;
}    
.btn-emerald {
    background-color: #34d399;
    color: #fff;
    border: none; 

}
.btn-emerald:hover, .btn-emerald:focus {
    background-color: #059669;
    color: #fff;
}
.text-emerald-400 { color: #34d399 !important; }
.text-gray-300 { color: #d1d5db !important; }
.text-gray-400 { color: #9ca3af !important; }

.profile-card {
    
    padding: 1.5rem;
    
    border-radius: 1rem;                  /* rounded-lg */
    
    color: #d1d5db;                       /* text-gray-300 */
                   /* space-y-6 */
    display: flex;
    flex-direction: column;
}

.ui-dialog-titlebar-close .ui-icon-closethick {
    color: #374151 !important;
    background: none !important;
}

.logout{
      font-weight: bold!important;
}

.bg-dark-collapsed {
    
    background-color: #212529 !important;
    transition: background 0.3s ease-in-out;
    margin-top: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#navbarSupportedContent {
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), background 0.3s;
    overflow: hidden;

}

.navbar-toggler {
    border: none;
    background: rgba(52, 211, 153, 0.15); /* subtle emerald tint */
    transition: background 0.2s, box-shadow 0.2s;
    outline: none;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background: rgba(52, 211, 153, 0.35);
    box-shadow: 0 0 0 2px #34d399;
}